<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
</head>
<body>
    <h1>Welcome to Your Dashboard, {{ user_data.username }}!</h1>
    <p>Your Date of Birth: {{ user_data.dob }}</p>
    <p>Your Current Emotional State: {{ emotion }}</p>
    <p>Your Astrological Sign: {{ astrological_sign }}</p>
    <h2>Your Daily Horoscope</h2>
    <p>{{ horoscope }}</p>
    <p> Your Daily Sentence: {{selected_sentence}}</p>


    <a href="/">Home</a> | <a href="/logout">Logout</a>
</body>
</html>
